<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/33cfe64eab.js" crossorigin="anonymous"></script>
    <title>TEK Blog</title>
</head>


<header>
    <nav class="navbar has-background-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/tekbloglogo.PNG" height="40">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item has-text-warning-light">
                    Home
                </a>
            </div>
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/dashboard" class="button has-background-warning-light">
                        <strong>
                        Dashboard
                        </strong>
                    </a>
                    <a id="log-out" class="button has-background-warning">
                        Log Out
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
    
<body class="has-background-light">
<main>
{{{body}}}
</main>
<footer>
    <h2>&copy; The TEK Blog</h2>
</footer>
</body>
<script src="/js/logout.js"></script>
</html>