<section class="hero is-medium is-light">
  <div class="hero-body">
    <p class="title">
      The TEK Blog. A place where Technology, Education, and Knowledge can all share a keyboard. 
    </p>
    <p class="subtitle">
      A community effort by developers, engineers, and students to encourage the ease of education in programming
    </p>
    <div class="buttons">
        <a href="/sign-up" class="button has-background-warning-light">
            <strong>
            Sign up
            </strong>
        </a>
        <a href="/login" class="button has-background-warning">
            Log in
        </a>
    </div>
  </div>
</section>

{{ all-posts }}