<div id="new-post-card" class="card">
    <form id="new-post-form" >
        <div class="field card-header">
            <label class="label card-header-title">Post Title</label>
        </div>
        <div class="control">
            <input id='new-post-title' class="input" type="text" placeholder="Title">
        </div>

        <div class="field card-content">
        <label class="label">Post</label>
        <div class="control">
            <textarea id="new-post-body" class="textarea is-info" placeholder="..."></textarea>
        </div>
        </div>

        <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" type="submit">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light"><a href="/dashboard">Cancel</a></button>
        </div>
        </div>
    </form>
</div>