<section class="hero is-small is-light">
  <div class="hero-body">
    <p class="title">
      Hello, <em>{{ username }}</em>!
    </p>
    <p class="subtitle">
     Make a new post today!
    </p>
    <div class="buttons">
        <a href="dashboard/new-post" class="button has-background-warning-light">
            <strong>
            New Post
            </strong>
        </a>
    </div>
  </div>
</section>

{{> user-posts }}