body {
    height: 100vh; 
}
main {
    padding: 0 5rem;
}
#login-card {
    width: 30%;
    box-shadow: 10px 10px 10px rgba(255, 255, 149, 0.795);
    margin: 3rem auto;
    border: solid 1px black ;
}

#login-form {
    margin: 0 auto;
    padding: 1rem;
}
#login-button {
    border: none;
    font-size: 1rem;
    color: #485fc7;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
}
#login-button:hover {
    color: black;
}

#sign-up-card {
    width: 30%;
    box-shadow: 10px 10px 10px rgba(255, 255, 149, 0.795);
    margin: 3rem auto;
    border: solid 1px black ;
}

#sign-up-form {
    margin: 0 auto;
    padding: 1rem;
}
#sign-up-button {
    border: none;
    font-size: 1rem;
    color: #485fc7;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
}
#sign-up-button:hover {
    color: black;
}

#new-post-card {
    width: 30%;
    box-shadow: 10px 10px 10px rgba(255, 255, 149, 0.795);
    margin: 3rem auto;
    border: solid 1px black ;
}

#new-post-form {
    margin: 0 auto;
    padding: 1rem;
}
#edit-post-card {
    width: 30%;
    box-shadow: 10px 10px 10px rgba(255, 255, 149, 0.795);
    margin: 3rem auto;
    border: solid 1px black ;
}

#edit-post-form {
    margin: 0 auto;
    padding: 1rem;
}
#post-dropdown-header {
    width: 100%;
}

#post-box {
    display: block;
    width: 100%;
}

#post-data-box {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
#hide-post-button{
    border: none;
    box-shadow: none;
}
#show-post-button{
    border: none;
    box-shadow: none;
}
#view:hover {
    color: darkgrey;
}
#add-comment-button {
    width: 100%;
}

#comment-box {
    margin: 1rem 5rem;
}



